/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
  --grey-tint-2-color: #d9d9d9;
  --white: #ffffff;
  --black: black;

  /* text config */
  --nav-hyperlink-font-weight: 400;
  --nav-hyperlink-font-size: 1rem;

  --body-h1-font-weight: 700;
  --body-h1-font-size: 1.375rem;
  --body-p-font-size: 1rem;
  --body-p-font-weight: 400;

  --input-font-size: 1.125rem;
  --filter-title-font-size: 1.125rem;
  --filter-title-font-weight: 700;
  --filter-categorie-font-weight: 700;
  --desktop-filter-categorie-font-size: 1.0625rem;
  --tablet-filter-categorie-font-size: 1rem;
  --mobile-filter-categorie-font-size: 0.875rem;

  --section-title-font-size: 1.375rem;
  --section-title-font-weight: 700;
  --card-title-font-size: 1rem;
  --card-title-font-weight: 700;
  --card-subtitle-font-size: 0.875rem;
  --card-subtitle-font-weight: 400;
  --subtitle-font-size: 1.125rem;
  --subtitle-font-weight: 700;

  --footer-title-font-size: 1.125rem;
  --footer-title-font-weight: 700;
  --footer-hyperlink-font-size: 1rem;
  --footer-hyperlink-font-weight: 400;

  --icon-font-weight: 700;
  --icon-font-size: 1.3rem;
}

/**** Icons and font ****/
.fa-solid {
  color: var(--main-color);
}
.fa-solid.fa-location-dot {
  color: var(--black);
}
.fa-icon-categorie {
  font-size: var(--icon-font-size);
}
.icon-location {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.2rem;
  background-color: var(--main-bg-color);
  border-radius: 15px 0 0 15px;
}
.fa-solid.fa-info {
  font-size: 11px;
}
.neutral-star {
  color: var(--main-bg-color);
}
.euro {
  font-weight: var(--icon-font-weight);
}

/* remove margin of all titles and paragraphs */
h1,
h2,
h3,
p {
  margin: 0px;
}
.section-title {
  font-size: var(--section-title-font-size);
  font-weight: var(--section-title-font-weight);
}

.card-title {
  font-size: var(--card-title-font-size);
  font-weight: var(--card-title-font-weight);
}

.card-subtitle {
  font-size: var(--card-subtitle-font-size);
  font-weight: var(--card-subtitle-font-weight);
}
.card:hover,
.card-activite:hover {
  cursor: pointer;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.24),
    0 10px 20px 0 rgba(0, 0, 0, 0.19);
}
/******Body******/
body {
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 0;
}
/******Limite width for large desktop******/
.main-container {
  width: 100%;
  max-width: 1440px;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

/******Main******/
main {
  display: flex;
  flex-direction: column;
  gap: 2.19rem;
}
main h1 {
  font-size: var(--body-h1-font-size);
  font-weight: var(--body-h1-font-weight);
}

main,
footer {
    margin: 0 1.25rem;
}

/******* Header ********/
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

#logo-booki {
  width: 60px;
  margin: 1.88rem 1.25rem;
}

nav {
  display: flex;
  flex-direction: row;
  gap: 1.88rem;
  margin: 0 25px 0 25px;
}

.hyperlink-box > .hyperlink-text {
  font-size: var(--nav-hyperlink-font-size);
  font-weight: var(--nav-hyperlink-font-weight);
}

nav div.hyperlink-box {
  padding-top: 25px;
}

nav div.hyperlink-box:hover {
  border-top: 3px solid var(--main-color);
}

.hyperlink-box > .hyperlink-text:hover,
.hyperlink-box > .hyperlink-text:hover:visited {
  color: var(--main-color);
}

.hyperlink-box > .hyperlink-text:visited {
  color: var(--black);
}

/******Main/Search-Container******/
.searchContainer {
  display: flex;
  flex-direction: column;
  gap: 2.19rem;
  margin-top: 1.88rem;
}

.searchContainer p {
  font-size: var(--body-p-font-size);
  font-weight: var(--body-p-font-weight);
}

.searchContainer .search-row {
  display: flex;
  flex-direction: row;
}

.searchContainer .search-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.searchContainer .search-box {
  height: 49px;
  align-items: stretch;
}

.search-box .search-input {
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--black);
  padding: 0px 24px 0px 24px;
  border: var(--main-bg-color) solid 0.5px;
}

.search-input::placeholder {
  color: var(--black);
  font-size: var(--body-input-font-size);
}

.search-box .search-btn {
  background-color: var(--main-color);
  padding: 15px 16px 15px 16px;
  font-weight: 700;
  width: auto;
  align-self: stretch;
  border: none;
  border-radius: 0px 15px 15px 0px;
  color: var(--white);
}

.search-btn .search-label {
  font-size: var(--input-font-size);
}

.search-btn:hover {
  cursor: pointer;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.searchContainer .search-filter {
  display: flex;
  gap: 0.94rem;
}

.search-filter .filter-title {
  font-size: var(--filter-title-font-size);
  font-weight: var(--filter-title-font-weight);
  align-self: center;
}

.filter-categorie > .filter-categorie-label {
  font-size: var(--desktop-filter-categorie-font-size);
  font-weight: var(--filter-categorie-font-weight);
}

.search-filter-categories {
  gap: 0.94rem;
}

/* .filter-categorie.filter-blue {
  background-color: var(--filter-bg-color);
} */

.filter-categorie {
  display: flex;
  padding: 10px 19px 10px 19px;
  align-items: center;
  gap: 10px;
  border-radius: 25px;
  border: 2px solid var(--grey-tint-2-color);
  background-color: var(--white);
}

.filter-categorie:hover {
  cursor: pointer;
  background-color: var(--filter-bg-color);
}
.search-info {
  gap: 0.75rem;
}
.search-info .icon-info {
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fa-circle {
  /* position: absolute; */
  color: var(--grey-tint-2-color);
  font-size: 1.5rem;
}
.fa-info {
  position: absolute;
}

/****** Main/Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires > section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 1.88rem;
  box-sizing: border-box;
}

/****** Secion/Hebergements ***********/
.hebergements-and-populaires .hebergements {
  width: 65%;
  display: flex;
  flex-direction: column;
  gap: 1.88rem;
}

.hotels {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 1.88rem;
  justify-content: space-between;
}

.card-hotel {
  width: 30%;
  padding-bottom: 0.94rem;
  border-radius: 20px;
  background-color: var(--white);
}

.card-hotel-description {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0px 15px 0px 15px;
}

.card-hotel-img {
  height: 105px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-size: cover;
  background-position: center;
}

.card-hotel .hotel-img {
  object-fit: cover;
  width: 100%;
  height: 7.75rem;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.subtitle {
    font-size: var(--subtitle-font-size);
    font-weight: var(--subtitle-font-weight);
}

/****** Populaires ***********/
.populaires {
  width: 32%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 0.94rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

/* .populaires-cards .card-subtitle {
  margin: 0;
} */

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

.card {
  background-color: var(--white);
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

/****** Main/Activités ***********/
.activites {
  display: flex;
  flex-direction: column;
  margin: 1.88rem;
  gap: 1.88rem;
}

.cards-activites {
  display: flex;
  flex-direction: row;
  gap: 1.88rem;
}

.card-activite-description {
  width: 25%;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);
}

.activite-location > .card-title {
  padding: 20px;
}

.activite-img {
  height: 27rem;
  background-size: cover;
  background-position: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.activite-img.activite-img-1 {
  background-image: url("../images/activites/vieux_port.jpg");
}

.activite-img.activite-img-2 {
  background-image: url("../images/activites/fort_pomegue.jpg");
}

.activite-img.activite-img-3 {
  background-image: url("../images/activites/parc_calanque.jpg");
}

.activite-img.activite-img-4 {
  background-image: url("../images/activites/notre_dame.jpg");
}

/****** Footer ***********/
footer {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  background-color: var(--main-bg-color);
}

.footer-content > .footer-title {
  font-size: var(--footer-title-font-size);
  font-weight: var(--footer-title-font-weight);
}
.footer-content > .footer-hyperlink {
  font-size: var(--footer-hyperlink-font-size);
  font-weight: var(--footer-hyperlink-font-weight);
}

.footer-content > .footer-hyperlink:hover {
  text-decoration: underline;
  cursor: pointer;
}

.footer-content {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 0.94rem;
  width: 30%;
}

/* Le code ci-dessous correspondt à la version responsive uniquement */

/****** Media queries ***********/
/* Larges devices (desktop, less/equal than 1024px) */
@media (max-width: 1440px) {
  #logo-booki {
    margin: 1.88rem 1.88rem 1.88rem 0;
  }
  .activite-img {
    height: 20rem;
  }
}

/*  Medium devices (tablets, less than 768px) */
@media (max-width: 1024px) {
  #logo-booki {
    margin: 1.88rem 1.25rem;
  }

  .searchContainer .search-filter {
    display: flex;
    flex-direction: column;
  }

  .search-filter .filter-title {
    padding: 0;
  }

  .filter-categorie > .filter-categorie-label {
    font-size: var(--tablet-filter-categorie-font-size);
  }

  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements-and-populaires .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 1.25rem;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards .card {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }

  .activite-img {
    height: 12.5rem;
  }

  .activite-location {
    display: flex;
    flex-grow: 1;
    align-items: center;
  }
}

/* Small devices (phones, less than 426px) */
@media (max-width: 426px) {
  body {
    margin: 0;
  }

  main,
  footer {
   margin: 0;
  }

  main .searchContainer,
  footer {
    padding: 0 1.25rem;
  }

  .main-container {
    padding: 0;
  }

  header {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  nav {
    width: 100%;
    justify-content: space-between;
  }

  nav div.hyperlink-box {
    display: flex;
    flex-grow: 1;
    padding-top: 0;
    align-items: flex-start;
    justify-content: center;
    padding-bottom: 15px;
  }
  nav div.hyperlink-box:hover {
    border-top: 0;
    border-bottom: 2px solid var(--main-color);
  }

  #logo-booki {
    margin: 1.88rem 1.88rem 1.88rem 1.88rem;
  }

  .search-btn .search-label {
    font-size: 0;
  }

  .search-box .search-input {
    flex-grow: 1;
    min-width: 0;
  }

  .search-input::placeholder {
    color: var(--black);
    font-size: 18px;
  }

  .search-filter-categories {
    flex-wrap: wrap;
  }

  .filter-categorie > .filter-categorie-label {
    font-size: var(--mobile-filter-categorie-font-size);
  }

  .fa-magnifying-glass {
    color: var(--white);
    font-size: 1.2rem;
  }

  .search-box .search-btn {
    border-radius: 15px;
  }

  .filter-categorie {
    flex: 1;
  }

  .hebergements-and-populaires section {
    border-radius: 0;
  }

  .hebergements-and-populaires .hebergements {
    background-color: var(--white);
    order: 2;
  }

  .hotels {
    flex-direction: column;
  }

  .card-hotel,
  .populaires-cards .card {
    width: 100%;
  }
  .card-hotel-2 {
    order: 4;
  }
  /* .card-hotel-5{ */
  /* order: 2; */
  /* } */
  /* .card-hotel-6{ */
  /* order: 6; */
  /* } */

  .populaires-cards {
    flex-direction: column;
  }
  .cards-activites {
    width: 100%;
    flex-direction: column;
  }
  .card-activite-description {
    width: 100%;
  }
  .activite-img {
    height: 8.5rem;
  }
  footer {
    flex-direction: column;
  }
  .footer-content{
    width: auto;
  }
}
/* Small devices (portrait phones, less than 320px) */
@media (max-width: 320px) {
  .icon-location,
  .search-box .search-btn {
    padding: 0.7rem;
  }
  .search-box .search-input {
    padding: 0 0 0 24px;
  }
}
